<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="inputs-container">
        <div class="right-section">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" id="title" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Image URL</mat-label>
                <input matInput type="text" id="imagePath" formControlName="imagePath" #imagePath>
            </mat-form-field>
            <div class="image-preview-container">
                <img [src]="imagePath.value ? imagePath.value : '../../../assets/img/food-default.png'" alt="Image">
            </div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput id="description" formControlName="description" rows="2"></textarea>
            </mat-form-field>
        </div>
        <div class="left-section">
            <div class="ingredients-row" formArrayName="ingredients">
                <div class="form-row" *ngFor="let ingr of controls; let i = index" [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Ingredient name</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ingredient amount</mat-label>
                        <input matInput type="number" min="1" formControlName="amount">
                    </mat-form-field>
                    <button mat-flat-button color="warn" type="button" (click)="onDeleteIngredient(i)">Delete<mat-icon
                            matSuffix>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="add-ingredient-btn-container">
        <button mat-flat-button color="primary" type="button" (click)="onAddIngredient()">Add Ingredient<mat-icon
                matSuffix>add</mat-icon></button>
    </div> -->
    <div class="form-action-btns">
        <button mat-flat-button color="primary" type="button" (click)="onAddIngredient()">Add Ingredient<mat-icon
                matSuffix>add</mat-icon></button>
        <div class="action-btns">
            <button mat-flat-button color="primary" type="submit" [disabled]="!recipeForm.valid">Save<mat-icon
                    matSuffix>add</mat-icon></button>
            <button mat-flat-button color="accent" type="button" (click)="onCancel()">Cancel<mat-icon
                    matSuffix>clear</mat-icon></button>
        </div>
    </div>
</form>