form {
  max-width: 550px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  .form-row-btn{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
