.recipe-container {
  display: flex;
  justify-content: center;

  .recipe {
    padding: 30px 60px;
    margin-bottom: 22px;
    max-width: 1000px;

    mat-card-header {
      .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .title-container {

          mat-card-title {
            font-size: 22px;
          }
        }
      }
    }

    .img-container {
      display: flex;
      justify-content: center;

      .image {
        max-width: 1000px;

        img {
          width: 100%;
          border-radius: 10px;

        }
      }



    }

    .mat-mdc-card-content {
      margin-top: 18px;
      padding: 0;
    }

    .ingredients-title {
      font-size: 20px;
      font-weight: 400;
    }

  }
}


// section {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 40px 90px;
//   gap: 22px;

//   .title-container {
//     width: 100%;
//     display: flex;
//     align-items: flex-start;

//     h1 {
//       font-size: 40px;

//       @media (max-width: 820px) {
//         font-size: 30px;
//       }
//     }
//   }

//   .right-section {
//     width: 50%;

//     .action-btn-container {
//       display: flex;
//       justify-content: end;
//     }

//     .img-container {
//       // width: 400px;

//       img {
//         width: 100%;
//         border-radius: 10px;
//       }
//     }

//     @media (max-width: 820px) {
//       width: auto;
//     }
//   }

//   .left-section {}

//   @media (max-width: 820px) {
//     padding: 18px;
//   }
// }