<section>
    <img [src]="recipe.imagePath" alt="{{recipe.title}}">
    <h1>{{ recipe.title}}</h1>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onAddIngredients()">
            <mat-icon>add</mat-icon>
            <span>Add Ingredient to Shopping List</span>
        </button>
        <button mat-menu-item (click)="onEditRecipe()">
            <mat-icon>edit</mat-icon>
            <span>Edit Recipe</span>
        </button>
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete Recipe</span>
        </button>
    </mat-menu>
    <div class="description">
        {{recipe.description}}
    </div>
    <div class="Ingrediens">
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</section>