section {
  padding: 40px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;

  .right-section {
    .description {
      min-width: 600px;
      max-width: 600px;
    }
  }

  .left-section {
    .action-btn-container {
        display: flex;
        justify-content: end;
    }
    .img-container {
      width: 400px;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
