@import "../../../styles.scss";

header {
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  box-shadow: -2px 0px 6px 0px $blackColor;

  >a {
    text-decoration: none;

    >img {
      width: 150px;
      cursor: pointer;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;

    >a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      color: rgb(52, 50, 50);
      border: 1px solid transparent;
      transition: transform 0.3s ease-in-out;

      &:hover {
        color: $blue;
        border-bottom: 1px solid $pink;
        transform: scale(1.1);
      }
    }

    .mat-mdc-button:not(:disabled) {
      color: rgb(52, 50, 50);
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.active {
  border-bottom: 2px solid $pink !important;
}