<header>
    <a routerLink="/recipes">
        <img src="../../../assets/imgMyRecipeBook/logo-mrb.png" alt="Logo">
    </a>
    <nav class="nav">
        <a *ngIf="isAuthenticated" routerLink="/recipes" routerLinkActive="active">Recipes</a>
        <a *ngIf="!isAuthenticated" routerLink="/auth" routerLinkActive="active">Login</a>
        <a *ngIf="isAuthenticated" (click)="onLogOut()">Logout</a>
        <a *ngIf="isAuthenticated" routerLink="/shopping-list" routerLinkActive="active"
            (click)="onFetchShoppingList()">Shopping List</a>
        <!-- <button *ngIf="isAuthenticated" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item type="button" (click)="onSaveData()">Save Data</button>
            <button mat-menu-item (click)="onFetchData()">Fetch Data</button>
        </mat-menu> -->
    </nav>
    <button class="responsiv-btn" type="button" (click)="onShowNav()" mat-icon-button color="accent">
        <mat-icon>menu</mat-icon>
    </button>
    <nav class="mobile-nav-backdrop" (click)="onShowNav()" *ngIf="showNavigation">
        <div class="mobile-nav">
            <button class="close-btn" type="button" (click)="onShowNav()" mat-icon-button color="accent">
                <mat-icon>close</mat-icon>
            </button>
            <div class="mobile-nav-links">
                <a *ngIf="isAuthenticated" routerLink="/recipes" routerLinkActive="active">Recipes</a>
                <a *ngIf="!isAuthenticated" routerLink="/auth" routerLinkActive="active">Login</a>
                <a *ngIf="isAuthenticated" (click)="onLogOut()">Logout</a>
                <a *ngIf="isAuthenticated" routerLink="/shopping-list" routerLinkActive="active"
                    (click)="onFetchShoppingList()">Shopping List</a>
            </div>
        </div>

    </nav>
</header>