@import "../../styles.scss";

section {
  color: $blue;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  > h2 {
    font-size: 45px;
  }

  .shopping-list-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    > h3 {
      font-size: 30px;
      margin-bottom: 26px;
    }
  }

  .ingredients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $blue;
    width: 100%;

    app-shopping-list-table{
      width: 100%;
    }
    > h3 {
      font-size: 30px;
      margin: 26px 0;
    }

    mat-list {
      display: flex;
      flex-wrap: wrap;

      mat-list-item {
        cursor: pointer;
        width: 200px;
        &:hover {
          background-color: whitesmoke;
        }

        > span > span {
          color: $blue !important;
        }
      }
    }
  }
}
