@import "../../styles.scss";

section {
  color: $hell_green;
  min-height: 500px;
  padding: 22px;
  display: flex;
  justify-content: space-between;

  .shopping-list-edit-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ingredients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    mat-list {
      display: flex;
      flex-wrap: wrap;

      mat-list-item {
        cursor: pointer;
        width: 200px;
        &:hover {
          background-color: whitesmoke;
        }
      }
    }
  }
}
