<section>
    <h2>Shoppin List</h2>
    <div class="shopping-list-edit-container">
        <h3>Add ingredient</h3>
        <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="ingredients-container">
        <h3>Ingredients</h3>
        <!-- <mat-list>
            <mat-list-item *ngFor="let ingr of ingredients; let i = index" (click)="onEditItem(i)">
                {{ingr.name}} ({{ingr.amount}})
            </mat-list-item>
        </mat-list> -->
        <app-shopping-list-table *ngIf="ingredients.length > 0" [ingredients]="ingredients" />
    </div>
</section>