@import '../../styles.scss';

.recipes-container {
    display: flex;
    flex-direction: column;

    .recipe-list-container {
        >button {
            margin-left: 20px;
        }
    }

    .recipe-detail-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
    }
}