.recipes-container {
    display: flex;

    .recipe-list-container {
        width: 50%;

        >button {
            margin-left: 20px;
        }
    }

    .recipe-detail-container {
        width: 50%;
    }
}