@import "../../../../styles.scss";

section {
  padding: 18px;
  > a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $blackColor;
    padding: 10px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      border: 1px solid $blue;
      border-radius: 10px;
    }

    .section-left {
      word-wrap: break-word;

      > h3 {
        text-align: center;
        width: 100%;
        font-size: 31px;
        font-weight: 500;
      }
    }

    .section-right {
      width: 500px;
      > img {
        width: 100%;
        border-radius: 10px;
      }

      @media (max-width: 510px){
          width: 310px !important;
      }
    }
  }
}

.active {
  border-radius: 10px;
  border: 1px solid $blue;
}
