section {
    padding: 18px;

    >a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        .section-right {
            width: 200px;

            >img {
                width: 100%;
            }
        }
    }
}