@import "@angular/material/prebuilt-themes/indigo-pink.css";

$blackColor: rgb(52, 50, 50);
$hell_green: rgb(66, 144, 66);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}