@import "@angular/material/prebuilt-themes/indigo-pink.css";

$blackColor: rgb(52, 50, 50);
$blue: #3f51b5;
$pink: #ff4081;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  max-width: 1950px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  &:hover {
    cursor: pointer;
  }
}