<form class="form-container">
    <mat-form-field hintLabel="Max 18 characters">
        <mat-label>Name</mat-label>
        <input matInput #name maxlength="18" placeholder="Ex. Nougat">
        <mat-hint align="end">{{name.value.length}}/18</mat-hint>
    </mat-form-field>
    <mat-form-field class="form-number">
        <mat-label>Amout</mat-label>
        <input matInput #amount type="number">
    </mat-form-field>
    <div class="form-button-row">
        <button mat-button color="primary" type="button" (click)="onAddItem()">Add</button>
        <button mat-button color="warn" type="button">Delete</button>
        <button mat-button color="accent" type="button">Clear</button>
    </div>
</form>