form {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .inputs-container {
    display: flex;
    justify-content: space-around;
    .form-number {
      width: 100px;
    }
  }

  .form-button-row {
    display: flex;
    justify-content: space-evenly;

    button {
      padding: 10px 30px;
    }
  }
}
